do term mon
ip routing

! Start with basic cleanup of default config

{% if cpe_model == '9300' %}
! config-register 0x2102
{% else %}
config-register 0x2102
{% endif %}

!ip cef
no ip dhcp excluded-address 10.10.10.1
no ip dhcp pool ccp-pool
no ip domain name yourdomain.com
no username cisco password 0 cisco
line vty 0 4
 no access-class 23 in
no access-list 23
!line 2
! transport input none
no ip http access-class 23
no ip http authentication local
no ip http timeout-policy idle 60 life 86400 requests 10000
no banner exec
no banner login
!no line vty 5 15

logging buffered 64000
!username admin password cisco
!enable secret cisco
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption

hostname CPE-{{ACRO}}-{{EQPT_SLID}}

vtp domain CPE-{{ACRO}}-{{EQPT_SLID}}
vtp mode transparent

ip sla responder
!ip sla monitor responder
!
!
ip vrf {{VRF_NAME}}
 description DIA
 rd {{CE_ASN}}:{{DIA_VLAN}}
!
vlan {{DIA_VLAN}}
 name DIA
!
interface {{MPLS_LAN_IF}}
 description CUST MPLS LAN {{ACRO}}-{{MPLS_SLID}}
 ip address {{LAN_IP_ADD}} {{lanmask}}
 shutdown
! load-interval 30
!
interface {{DIA_LAN_IF}}
 description CUST DIA LAN {{ACRO}}-{{DIA_SLID}}
 ip vrf forwarding {{VRF_NAME}}
 ip address {{dia_cpelanip}} {{dia_lanmask}}
! load-interval 30
!
interface {{WAN_IF}}.{{MPLS_VLAN}}
 description WAN uplink {{ACRO}}-{{MPLS_SLID}}
! load-interval 30
!
interface {{WAN_IF}}.{{DIA_VLAN}}
 description WAN uplink {{ACRO}}-{{DIA_SLID}}
 encapsulation dot1Q {{DIA_VLAN}}
 ip vrf forwarding {{VRF_NAME}}
! load-interval 30
!
ip prefix-list EXPORT description Advertise to PE only networks in this list
ip prefix-list EXPORT seq 5 deny 0.0.0.0/0
ip prefix-list EXPORT permit {{LAN_SUBNET}}
!
route-map EXPORT-PRI permit 10
 match ip address prefix-list EXPORT
 set metric 10
!
route-map EXPORT-BACKUP permit 10
 match ip address prefix-list EXPORT
 set metric 20
!
route-map SET-MED-IN-10 permit 10
 set metric 10
 set local-preference 900
!
route-map SET-MED-IN-20 permit 10
 set metric 20
!
ip route 10.10.0.0 255.255.255.0 {{peip}} 250
ip route vrf {{VRF_NAME}} 0.0.0.0 0.0.0.0 {{dia_peip}}
ip route vrf {{VRF_NAME}} 10.10.0.0 255.255.255.0 {{dia_peip}} 250
!
access-list 10 remark MGMT
access-list 10 permit {{peip}}
access-list 10 permit {{dia_peip}}
access-list 10 permit 10.10.0.0 0.0.0.255
access-list 10 permit 10.10.0.32 0.0.0.31
!
snmp-server community CPE73f1G RO 10
snmp-server ifindex persist
snmp-server trap-source {{WAN_IF}}.{{MPLS_VLAN}}
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps tty
snmp-server enable traps entity
!snmp-server enable traps envmon
snmp-server enable traps entity
snmp-server host 100.64.0.110 version 2c CPE73f1G
snmp-server host 100.64.0.145 version 2c CPE73f1G
!
line con 0
 password cisco
!line aux 0
! password cisco
line vty 0 4
! no privilege level 15
 access-class 10 in vrf-also
 transport input ssh 
! password cisco


no access-list 70
access-list 70 remark Allowed VPN NTP servers
access-list 70 permit 100.64.0.12
access-list 70 permit 100.64.0.120
!
no access-list 68
access-list 68 remark Disable incoming NTP requests
access-list 68 deny any
!
!
!
ntp access-group peer 70
ntp access-group serve-only 68
!
ntp server 100.64.0.12
ntp server 100.64.0.120

{% if PRIM_SEC == 0 %}
! ## Standalone CPE ##

router bgp {{CE_ASN}}
 timers bgp 10 30
 bgp router-id {{getcpewanip}}
 bgp log-neighbor-changes
 neighbor {{peip}} remote-as 3257
 neighbor {{peip}} description WAN uplink {{ACRO}}-{{MPLS_SLID}}
 address-family ipv4
  redistribute connected route-map EXPORT-PRI
  redistribute static route-map EXPORT-PRI
  neighbor {{peip}} activate
  neighbor {{peip}} soft-reconfiguration inbound
  neighbor {{peip}} route-map SET-MED-IN-10 in
  neighbor {{peip}} route-map EXPORT-PRI out
  no auto-summary
  no synchronization
 exit-address-family
!
! ## Primary CPE + HSRP ##
{% elif PRIM_SEC == 1 %}

track 100 ip route 10.10.0.0 255.255.255.128 reachability
track 101 ip route 100.64.0.128 255.255.255.128 reachability
track 1 list boolean or
 object 100
 object 101
!
interface {{LAN_IF}}
 standby 1 ip {{VIP}}
 standby 1 priority 110
 standby 1 preempt
 standby 1 track 1 decrement 10
!
access-list 10 permit {{SEC_CPE_IP}}
!
ip prefix-list DENY description DENY
ip prefix-list DENY deny 10.10.0.0/24
ip prefix-list DENY deny 10.10.0.0/25
ip prefix-list DENY deny 100.64.0.128/25
ip prefix-list DENY permit 0.0.0.0/0 le 32
!
router bgp {{CE_ASN}}
 timers bgp 10 30
 bgp router-id {{getcpewanip}}
 bgp log-neighbor-changes
 neighbor {{peip}} remote-as 3257
 neighbor {{peip}} description WAN uplink {{ACRO}}-{{MPLS_SLID}}
 neighbor {{SEC_CPE_IP}} remote-as {{CE_ASN}}
 neighbor {{SEC_CPE_IP}} description to backup CPE-{{ACRO}}-{{SEC_CPE_SLID}}
 address-family ipv4
  redistribute connected route-map EXPORT-PRI
  redistribute static route-map EXPORT-PRI
  neighbor {{peip}} activate
  neighbor {{peip}} soft-reconfiguration inbound
  neighbor {{peip}} route-map SET-MED-IN-10 in
  neighbor {{peip}} route-map EXPORT-PRI out
  neighbor {{SEC_CPE_IP}} activate
  neighbor {{SEC_CPE_IP}} route-map DENY out
  neighbor {{SEC_CPE_IP}} next-hop-self
  neighbor {{SEC_CPE_IP}} soft-reconfiguration inbound
 exit-address-family
!
banner exec ^C

######################################################################
This CPE is a primary CPE
Backup CPE can be found at CPE-{{ACRO}}-{{SEC_CPE_SLID}}
######################################################################

^C

{% elif PRIM_SEC == 2 %}
!
track 100 ip route 10.10.0.0 255.255.255.128 reachability
track 101 ip route 100.64.0.128 255.255.255.128 reachability
track 1 list boolean or
 object 100
 object 101
!
interface {{LAN_IF}}
 standby 1 ip {{VIP}}
 standby 1 priority 105
 standby 1 preempt
 standby 1 track 1 decrement 10
!
access-list 10 permit {{SEC_CPE_IP}}
!
ip prefix-list DENY description DENY IRT NMS
ip prefix-list DENY deny 10.10.0.0/24
ip prefix-list DENY deny 10.10.0.0/25
ip prefix-list DENY deny 100.64.0.128/25
ip prefix-list DENY permit 0.0.0.0/0 le 32
!
route-map DENY permit 10
 match ip address prefix-list DENY
!
router bgp {{CE_ASN}}
 timers bgp 10 30
 bgp router-id {{getcpewanip}}
 bgp log-neighbor-changes
 neighbor {{peip}} remote-as 3257
 neighbor {{peip}} description WAN uplink {{ACRO}}-{{MPLS_SLID}}
 neighbor {{SEC_CPE_IP}} remote-as {{CE_ASN}}
 neighbor {{SEC_CPE_IP}} description to backup CPE-{{ACRO}}-{{SEC_CPE_SLID}}
 address-family ipv4
  redistribute connected route-map EXPORT-BACKUP
  redistribute static route-map EXPORT-BACKUP
  neighbor {{peip}} activate
  neighbor {{peip}} soft-reconfiguration inbound
  neighbor {{peip}} route-map SET-MED-IN-20 in
  neighbor {{peip}} route-map EXPORT-BACKUP out
  neighbor {{SEC_CPE_IP}} activate
  neighbor {{SEC_CPE_IP}} route-map DENY out
  neighbor {{SEC_CPE_IP}} next-hop-self
  neighbor {{SEC_CPE_IP}} soft-reconfiguration inbound
 exit-address-family
!
banner exec ^C

######################################################################
This CPE is a primary CPE
Primary CPE can be found at CPE-{{ACRO}}-{{SEC_CPE_SLID}}
######################################################################

^C
!
{% else %}
! Incorrect value, accepted values are 0,1,2. Skiping BGP config
{% endif %} 
!

{% if STATIC_ROUTE == '0' %}
! ## Skip customer static route configuration ##
{% else %}
track 123 interface {{LAN_IF}} line-protocol
!
{% for item in cpestatipnet -%}
{% set item_1 = cpestatipnet[loop.index-1] %}
{% set item_2 = cpestatipmask[loop.index-1] %}
ip route {{item_1}} {{item_2}} {{NEXT_HOP}} track 123
{% endfor -%}
!
{% for line in STATIC_PREFIX -%}
ip prefix-list EXPORT permit {{line}}
{% endfor -%}
{% endif %}

! # End of static route section

{% if SNMP == '0' %}
! ## Skip customer SNMP ##
{% else %}
access-list 12 remark Customer SNMP access
{% for item in SNMPNET -%}
{% set snmp_item_1 = SNMPNET[loop.index-1] %}
{% set snmp_item_2 = SNMPWILD[loop.index-1] %}
access-list 12 permit {{snmp_item_1}} {{snmp_item_2}}
{% endfor -%}
snmp-server view CUSTOMER sysUpTime included
snmp-server view CUSTOMER system.5 included
snmp-server view CUSTOMER interfaces.* included
snmp-server community {{SNMP_COMMUNITY}} view CUSTOMER RO 12

{% endif %}

{% if DHCP_RELAY == '0' %}
! ## Skip customer DHCP RELAY ##
{% else %}
interface {{LAN_IF}}
 ip helper-address {{DHCP_RELAY_IP[0]}}
 ip helper-address {{DHCP_RELAY_IP[1]}}
{% endif %}
!
! ## DHCP SERVER IN VRF
{% if DHCP_SERVER == '0' %}
! ## Skip customer DHCP ##
{% else %}
!
ip dhcp pool {{ACRO}}-{{DIA_SLID}}
 vrf {{VRF_NAME}}
 network {{dia_lansubnet}} {{dia_lanmask}}
 default-router {{dia_lanip}}
 dns-server {{DHCP_DNS[0]}}
 dns-server {{DHCP_DNS[1]}}
!
ip dhcp excluded-address {{dia_lanip}}
{% endif %}
!
{% if EIGRP == '0' %}
! ## Skip customer EIGRP ##
{% else %}
!
ip prefix-list BGP-DENY description DENY IP
ip prefix-list BGP-DENY deny 10.10.0.0/24
ip prefix-list BGP-DENY deny 10.10.0.0/25
ip prefix-list BGP-DENY deny 100.64.0.128/25
ip prefix-list BGP-DENY permit 0.0.0.0/0 le 32
!
route-map EIGRP-TO-BGP deny 10
 match tag 8928
!
route-map EIGRP-TO-BGP permit 20
 set metric 10
 set weight 0
!
route-map BGP-TO-EIGRP permit 10
 match ip address prefix-list BGP-DENY
 set tag 8928
!
router eigrp {{EIGRP_ASN}}
 redistribute bgp {{CE_ASN}} metric 2000 1 255 1 1500 route-map BGP-TO-EIGRP
 network {{lansubnet}} {{wildcard}}
 no auto-summary
!
router bgp {{CE_ASN}}
 bgp bestpath cost-community ignore
 address-family ipv4
 redistribute eigrp {{EIGRP_ASN}} route-map EIGRP-TO-BGP
!
{% endif %}

{% if CE_BGP == '0' %}
! ## Skip customer BGP ##
{% else %}
ip prefix-list EXPORT permit 0.0.0.0/0 le 32

ip prefix-list DENY description DENY NMS
ip prefix-list DENY deny 10.10.0.0/24
ip prefix-list DENY deny 10.10.0.0/25
ip prefix-list DENY deny 100.64.0.128/25
ip prefix-list DENY permit 0.0.0.0/0 le 32

route-map CE-TO-C permit 10
 match ip address prefix-list DENY
!
router bgp {{CE_ASN}}
 neighbor {{CUSTOMER_BGP_IP}} remote-as {{CUSTOMER_BGP_ASN}}
 neighbor {{CUSTOMER_BGP_IP}} description to LAN
 address-family ipv4
  neighbor {{CUSTOMER_BGP_IP}} activate
  neighbor {{CUSTOMER_BGP_IP}} send-community
  neighbor {{CUSTOMER_BGP_IP}} next-hop-self
  neighbor {{CUSTOMER_BGP_IP}} soft-reconfiguration inbound
  neighbor {{CUSTOMER_BGP_IP}} route-map CE-TO-C out
 exit-address-family
!
{% endif %}

{% if OSPF == '0' %}
! ## Customer OSPF not requsted ##
{% else %}

ip prefix-list BGP-DENY description DENY
ip prefix-list BGP-DENY deny 10.10.0.0/24
ip prefix-list BGP-DENY deny 10.10.0.0/25
ip prefix-list BGP-DENY permit 0.0.0.0/0 le 32
!
ip prefix-list EXPORT permit 0.0.0.0/0 le 32
!
route-map BGP-TO-OSPF permit 10
 match ip address prefix-list BGP-DENY
 set tag 8928
!
route-map OSPF-TO-BGP deny 10
 match tag 8928
!
route-map OSPF-TO-BGP permit 20
 set metric 10
 set weight 0

router ospf {{OSPF_PID}}
 log-adjacency-changes
 redistribute bgp {{CE_ASN}} metric 10 subnets route-map BGP-TO-OSPF
 passive-interface default
 no passive-interface {{LAN_IF}}
 network {{lansubnet}} {{wildcard}} area {{OSPF_AREA}}

!
router bgp {{CE_ASN}}
 address-family ipv4
 redistribute ospf 1 route-map OSPF-TO-BGP
!
{% endif %}

!#############################################################
!## Please ensure you have a secondary session opened to the CPE.
!## Paste the below config with care and on parts.
!## http://intranet/ShortUrl/198376a8
!#############################################################

{% if CUSTOMER_SSH == '0' %}
!### Skip user ssh access ###
{% else %}
! Allow login access from below networks
{% for item in SSHNET -%}
{% set sshitem_1 = SSHNET[loop.index-1] %}
{% set sshitem_2 = SSHWILD[loop.index-1] %}
access-list 10 permit {{sshitem_1}} {{sshitem_2}}
{% endfor -%}
!
username {{SSH_USER}} privilege 0 password {{SSH_PASSWORD}}
!
privilege exec level 0 ping *
privilege exec level 0 traceroute *
privilege exec level 0 show ip * 
privilege exec level 0 show environment *
privilege exec level 0 show interfaces * 
privilege exec level 0 show diagbus *
privilege exec level 0 show arp *
privilege exec level 0 show police-map * 
privilege exec level 0 show version
privilege exec level 0 show process
privilege exec level 0 show access-lists *
privilege exec level 0 show log *
privilege exec level 0 show cdp *
privilege exec level 0 show platform *
privilege exec level 0 show dsl *
privilege exec level 0 clear ip dhcp *
!
{% endif %}

{% if LOOPBACK == '0' %}
! Skip CPE Loopback interface

{% else %}
ip prefix-list EXPORT permit {{LOOPBACK_IP}}
interface Loopback{{LOOPBACK_UNIT}}
 desc CUST LOOPBACK {{MPLS_SLID}}
 ip address {{loopbackip}} {{loopbackmask}}
 shutdown

{% endif %}
!
line vty 0 4
 access-class 10 in vrf-also
 transport input ssh

! Specify miscellaneous IP options and remove default route
ip subnet-zero
no ip source-route
ip tcp path-mtu-discovery
!no ip domain-lookup
no ip finger
ip classless
no ip http server
no ip http secure-server

no ip route 0.0.0.0 0.0.0.0
!
end
!
exit

